<div class="container">
  <mat-card class="env-card mx-auto my-5">
    <mat-card-header>
      <mat-card-title>Environment</mat-card-title>
      <mat-card-subtitle>Debugging your environment</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="container">
        <div class="row">
          <div class="col-3">
            <p>API url:</p>
          </div>
          <div class="col">
            <p><b>{{apiUrl}}</b></p>
          </div>
        </div>

        <div class="row">
          <div class="col-3">
            <p>API key:</p>
          </div>
          <div class="col">
            <p><b>{{apiKey}}</b></p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
